
header {
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    font-size: large;
    font-weight: 600;
}

.active-page {
    font-weight: 600;
}

div.inputs {
    display:flex;
    background: lightgray
}

input.hidden {
    display:none;
}

div.addressListDiv {
    display:flex;
    background: lightblue
}

div.controller-list {
    list-style-type: none;
    padding: 8px;
    padding-right: 15px;
    background-color: lightpink;
    border: 20px;
    border-color: black;
}

.navbar-list {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: 10px;
    list-style-type: none;
    font-family: 'Courier New', Courier, monospace;
}

.token-list {
}

.token-list-ul {
    height: 80px;
    width: 60px;
    border: 5px;
    overflow-y: scroll;
    overflow-x:hidden;
    list-style-type: none;
}

.token-input {
    width: 50px;
}

a.nav-links {
    color: white;
    text-decoration: none;
}

.overview-title-line {
    display: flex;
    justify-content: space-between;
    padding-left: 5vw;
    padding-right: 7vw;
    font-size:x-large;
    font-family: 'Courier New', Courier, monospace;
}

.ETHprice {
    text-align: right;
    padding-right: 7vw;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
}

.portfolio-table-ETH {
    width: 100%;
    text-align: right;
    padding-left: 6vw;
    padding-right: 8vw;
}

.column-1 {
    text-align: left;
}

td {
    padding: 0.2vw;
}

.portfolio-table-ETH {
    font-family: 'Courier New', Courier, monospace;
}

.addressListDiv {
    font-family: 'Courier New', Courier, monospace;
}

.ERC20s {
    font-family: 'Courier New', Courier, monospace;
}

ul {
    list-style: none;
}